 {{ header }}
<div class="breadcrumb-container">
  <h1 class="page-title">{{ heading_title }}</h1>
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
</div>
<div id="product-product" class="container">
  <div class="wrapper_container">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        <div class="product_carousel">
          <div class="row"> {% if column_left or column_right %}
            {% set class = 'col-md-7 col-sm-6' %}
            {% else %}
            {% set class = 'col-md-7 col-sm-6' %}
            {% endif %}
            <div class="{{ class }} product-left"> 
              <div class="product-left-title hidden-lg hidden-md hidden-sm">
                <h2 class="product-title">{{ heading_title }}</h2>
                <ul class="list-unstyled price">
                  {% if not special %}
                    <li>
                      <h2 class="product-price">{{ price }}</h2>
                    </li>
                    {% else %}
                    <li class="product-price">
                      <h2>{{ special }}</h2>
                    </li>
                    <li class="product-dis"><span style="text-decoration: line-through;">{{ price }}</span></li>
                    {% endif %}
                  </ul>
              </div>
              {% if thumb or images %}
                {% if productimage_type == 'vertical' %}
                  <div class="product-image thumbnails">
                    <div class="row">
                      {% if images %}
                        <div class="image-carousel hidden-sm hidden-xs col-lg-2 col-md-3 col-sm-12 col-xs-12">
                          <div class="additional-carousel">      
                            <div class="image-additional item">
                              <a class="thumbnail" href="javascript:void(0)" title="{{ heading_title }}">
                                <img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                              </a>
                            </div>
                            {% for image in images %}
                            <div class="image-additional item">
                              <a class="thumbnail" href="javascript:void(0)" title="{{ heading_title }}"> 
                                <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                              </a>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}
                      {% if thumb %}
                        {% if images %} 
                          {% set img_class = 'col-lg-10 col-md-9 col-sm-12 col-xs-12' %}
                          {% else %}
                          {% set img_class = 'col-lg-12 col-md-12 col-sm-12 col-xs-12' %}
                        {% endif %}
                        <div class="image {{ img_class }}">
                          <div class="carousel-container hidden-sm hidden-xs">
                            {% set cc = 1 %}
                            <div class="item_image number_{{cc}} item">
                              <a class="thumbnail image_popup" href="{{ popup }}" title="{{ heading_title }}">
                                <img src="{{ popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                              </a>
                            </div>
                            {% set cd = 2 %}
                            {% for image in images %}
                              <div class="item_image number_{{cd}} item">
                                <a class="thumbnail image_popup" href="{{ image.popup }}" title="{{ heading_title }}">
                                  <img src="{{ image.popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                </a>
                              </div>
                              {% set cd = cd + 1 %}
                            {% endfor %}
                          </div>
                          <div class="carousel-container hidden-lg hidden-md image_show">
                            <a class="thumbnail" href="{{ popup }}" title="{{ heading_title }}">
                              <img src="{{ popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                            </a>
                          </div>
                        </div>   
                        {% if images %}
                          <div class="image_show hidden-lg hidden-md col-sm-12 col-xs-12">  
                            <div id="slider_carousel" class="owl-carousel">
                              {% for image in images %}
                                <div class="image-additional item">
                                  <a class="thumbnail" href="{{ image.popup }}" title="{{ heading_title }}"> 
                                    <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                  </a>
                                </div>
                              {% endfor %}
                            </div>
                          </div>    
                        {% endif %}
                      {% endif %}
                    </div> 
                  </div>  
                {% else %}
                  <div class="product-image thumbnails_horizontal">
                    {% if thumb %}
                      <div class="carousel-container">
                        <a class="thumbnail" href="{{ popup }}" title="{{ heading_title }}">
                          <img src="{{ popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                        </a>
                      </div>
                    {% endif %}
                    {% if images %}
                      <div class="image_show">  
                        <div id="slider_carousel" class="owl-carousel">
                          {% for image in images %}
                            <div class="image-additional item">
                              <a class="thumbnail" href="{{ image.popup }}" title="{{ heading_title }}"> 
                                <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                              </a>
                            </div>
                          {% endfor %}
                        </div>
                      </div>    
                    {% endif %}
                  </div>
                {% endif %}
              {% endif %}                                             
              <div class="tabs_info clearfix">
                <div id="accordion" class="panel-group" role="tablist">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <a data-toggle="collapse" href="#tab-description" data-parent="#accordion" aria-expanded="true"> {{ tab_description }} </a>
                    </div> 
                    <div id="tab-description" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">            
                       <div class="tab-description">{{ description }}</div>   
                    </div> 
                  </div> 
                  <div class="panel panel-default tab_review">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      {% if review_status %}
                        <a data-toggle="collapse" href="#tab-review" data-parent="#accordion" aria-expanded="false">{{ tab_review }}</a>
                      {% endif %}
                    </div>
                    <div id="tab-review" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">     
                      {% if review_status %}
                        <div class="panel-body">
                          <form class="form-horizontal" id="form-review">
                            <div id="review"></div>
                            <h2>{{ text_write }}</h2>
                            {% if review_guest %}
                              <div class="form-group required">
                                <div class="col-sm-12">
                                  <label class="control-label" for="input-name">{{ entry_name }}</label>
                                  <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
                                </div>
                              </div>
                              <div class="form-group required">
                                <div class="col-sm-12">
                                  <label class="control-label" for="input-review">{{ entry_review }}</label>
                                  <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                  <div class="help-block">{{ text_note }}</div>
                                </div>
                              </div>
                              <div class="form-group required">
                                <div class="col-sm-12">
                                  <label class="control-label radio-title">{{ entry_rating }}</label>&nbsp;&nbsp;&nbsp;
                                  <div class="form-radio">
                                    <span>{{ entry_bad }}</span>&nbsp;
                                    <input type="radio" name="rating" value="1" />
                                    &nbsp;
                                    <input type="radio" name="rating" value="2" />
                                    &nbsp;
                                    <input type="radio" name="rating" value="3" />
                                    &nbsp;
                                    <input type="radio" name="rating" value="4" />
                                    &nbsp;
                                    <input type="radio" name="rating" value="5" />
                                    &nbsp;<span>{{ entry_good }}</span>
                                  </div>
                                </div>
                              </div>
                              {{ captcha }}
                              <div class="buttons clearfix">
                                <div class="pull-right">
                                  <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
                                </div>
                              </div>
                            {% else %}
                              {{ text_login }}
                            {% endif %}
                          </form>
                        </div>
                      {% endif %}
                    </div>
                  </div> 
                  {% if attribute_groups %}
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingThree">
                        {% if attribute_groups %}
                          <a data-toggle="collapse" href="#tab-specification" data-parent="#accordion" aria-expanded="false">{{ tab_attribute }}</a>
                        {% endif %}
                      </div> 
                      <div id="tab-specification" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">            
                        {% if attribute_groups %}
                          <div class="panel-body">
                            <table class="table table-bordered">
                              {% for attribute_group in attribute_groups %}
                              <thead>
                                <tr>
                                  <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                                </tr>
                              </thead>
                              <tbody>
                              {% for attribute in attribute_group.attribute %}
                              <tr>
                                <td>{{ attribute.name }}</td>
                                <td>{{ attribute.text }}</td>
                              </tr>
                              {% endfor %}
                                </tbody>
                              {% endfor %}
                            </table>
                          </div>
                        {% endif %}  
                      </div> 
                    </div>  
                  {% endif %} 
                </div>
              </div>       
            </div>
            {% if column_left or column_right %}
            {% set class = 'col-md-5 col-sm-6' %}
            {% else %}
            {% set class = 'col-md-5 col-sm-6' %}
            {% endif %}
            <div class="{{ class }} product-right">  
              <div class="product-left-title hidden-xs">
                <h1 class="product-title">{{ heading_title }}</h1>
              </div>
              <!-- AddThis Button BEGIN -->
              <div class="social-toolbox">
                <span>Share</span>
                <div class="addthis_toolbox addthis_default_style" data-url="{{ share }}">
                  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> 
                  <a class="addthis_button_tweet"></a> 
                  <a class="addthis_button_pinterest_pinit"></a> 
                  <a class="addthis_counter addthis_pill_style"></a>
                </div>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script> 
              </div>
              <!-- AddThis Button END -->
              {% if review_status %}
              <div class="rating-wrapper">
                {% for i in 1..5 %}
                  {% if rating < i %} 
                    <span class="fa fa-stack">
                      <i class="fa fa-star gray fa-stack-2x"></i>
                    </span> 
                  {% else %} 
                    <span class="fa fa-stack">
                      <i class="fa fa-star yellow fa-stack-2x"></i>
                    </span> 
                  {% endif %}
                {% endfor %}
                <a class="review-count" href="" onclick="customclick(); return false;">{{ reviews }}</a> / <a class="write-review" href="" onclick="customclick(); return false;"><i class="fa fa-pencil"></i> {{ text_write }}</a>
              </div>
              {% endif %} 
              {% if price %}
                <ul class="list-unstyled price">
                  {% if not special %}
                  <li>
                    <h2 class="product-price hidden-xs">{{ price }}</h2>
                  </li>
                  {% else %}
                  <li class="product-price hidden-xs">
                    <h2>{{ special }}</h2>
                  </li>
                  <li class="product-dis hidden-xs"><span style="text-decoration: line-through;">{{ price }}</span></li>
                  {% endif %}
                  {% if tax %}
                    <li class="product-tax">{{ text_tax }} {{ tax }}</li>
                  {% endif %}
                  {% if points %}
                    <li class="product-tax">{{ text_points }} {{ points }}</li>
                  {% endif %}
                  <hr>
                  {% if discounts %}
                  <li>
                  </li>
                  {% for discount in discounts %}
                  <li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
                  {% endfor %}
                  {% endif %}
                </ul>
                 {% if short_description != false %}
                <p>{{short_description}}</p>
                {% endif %}
              {% endif %}			  
              {% if date_end and product_page_counter == 1 %}
              <div class="ishicounter" data-countdowntime="{{ date_end }}"></div>
                <div class='countdown-container'>
                  <div class="countdown-text">{{ counter_title }}</div>
                  <div class='countdown-days counter'>
                    <span class="data"></span>
                    <span class="lbl">{{ days_name }}</span>
                  </div>
                  <div class='countdown-hours counter'>
                    <span class="data"></span>
                      <span class="lbl">{{ hours_name }}</span>
                  </div>
                  <div class='countdown-minutes counter'>
                    <span class="data"></span>
                      <span class="lbl">{{ min_name }}</span>
                  </div>
                  <div class='countdown-seconds counter'>
                    <span class="data"></span>
                    <span class="lbl">{{ sec_name }}</span>
                  </div>
                </div>
              {% endif %}	
              <hr>		 
              <div id="product"> 
                {% if options %}
                  <h3>{{ text_option }}</h3>
                  <div class="row">
                  {% for option in options %}                    
                    {% if option.type == 'select' %}
                      <div class="product_option col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group{% if option.required %} required {% endif %}">
                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                          <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                            <option value="">{{ text_select }}</option>
                            {% for option_value in option.product_option_value %}
                            <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                            {% if option_value.price %}
                            ({{ option_value.price_prefix }}{{ option_value.price }})
                            {% endif %} </option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    {% endif %}
                    {% if option.type == 'radio' %}
                      <div class="product_option col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group{% if option.required %} required {% endif %}">
                          <label class="control-label radio-text">{{ option.name }}</label>
                          <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                            <div class="radio">
                              <label>
                                <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                                {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                                {{ option_value.name }}
                                {% if option_value.price %}
                                ({{ option_value.price_prefix }}{{ option_value.price }})
                                {% endif %} </label>
                            </div>
                            {% endfor %} 
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    {% if option.type == 'checkbox' %}
                      <div class="product_option col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group{% if option.required %} required {% endif %}">
                          <label class="control-label checkbox-text">{{ option.name }}</label>
                          <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                                {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                                {{ option_value.name }}
                                {% if option_value.price %}
                                ({{ option_value.price_prefix }}{{ option_value.price }})
                                {% endif %} </label>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    {% if option.type == 'text' %}
                      <div class="product_option col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group{% if option.required %} required {% endif %}">
                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                          <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
                        </div>
                      </div>
                    {% endif %}
                    {% if option.type == 'textarea' %}
                      <div class="product_option col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group{% if option.required %} required {% endif %}">
                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                          <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
                        </div>
                      </div>
                    {% endif %}
                    {% if option.type == 'file' %}
                      <div class="product_option col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group{% if option.required %} required {% endif %}">
                          <label class="control-label">{{ option.name }}</label>
                          <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block btn-file"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                          <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
                        </div>
                      </div>
                    {% endif %}
                    {% if option.type == 'date' %}
                      <div class="product_option col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group{% if option.required %} required {% endif %}">
                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                          <div class="input-group date">
                            <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    {% if option.type == 'datetime' %}
                      <div class="product_option col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group{% if option.required %} required {% endif %}">
                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                          <div class="input-group datetime">
                            <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                            </span>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    {% if option.type == 'time' %}
                      <div class="product_option col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group{% if option.required %} required {% endif %}">
                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                          <div class="input-group time">
                            <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                            </span>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                  </div>
                {% endif %}
                {% if recurrings %}
                  <h3>{{ text_payment_recurring }}</h3>
                  <div class="form-group required">
                    <select name="recurring_id" class="form-control">
                      <option value="">{{ text_select }}</option>
                      {% for recurring in recurrings %}
                      <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                      {% endfor %}
                    </select>
                    <div class="help-block" id="recurring-description"></div>
                  </div>
                {% endif %}
                {% if minimum > 1 %}
                  <div class="alert alert-info col-lg-12 col-md-12 col-sm-12 col-xs-12"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                {% endif %}
              </div> 
              <div class="form-group">
                <label class="control-label" for="input-quantity">{{ entry_qty }}</label>
                <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control" />
                <input type="hidden" name="product_id" value="{{ product_id }}"/>
                {% if stock_statusclass == '' %}<button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>{% endif %}
                <button type="button" data-toggle="tooltip" class="btn btn-default wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');">
                  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="heart-shape-outline" viewBox="0 0 1150 1150"><title>heart-shape-outline</title><path d="M475.366,71.949c-24.175-23.606-57.575-35.404-100.215-35.404c-11.8,0-23.843,2.046-36.117,6.136 c-12.279,4.093-23.702,9.615-34.256,16.562c-10.568,6.945-19.65,13.467-27.269,19.556c-7.61,6.091-14.845,12.564-21.696,19.414 c-6.854-6.85-14.087-13.323-21.698-19.414c-7.616-6.089-16.702-12.607-27.268-19.556c-10.564-6.95-21.985-12.468-34.261-16.562 c-12.275-4.089-24.316-6.136-36.116-6.136c-42.637,0-76.039,11.801-100.211,35.404C12.087,95.55,0,128.286,0,170.16 c0,12.753,2.24,25.891,6.711,39.398c4.471,13.514,9.566,25.031,15.275,34.546c5.708,9.514,12.181,18.792,19.414,27.834 c7.233,9.041,12.519,15.272,15.846,18.698c3.33,3.426,5.948,5.903,7.851,7.427L243.25,469.938 c3.427,3.426,7.614,5.144,12.562,5.144s9.138-1.718,12.563-5.144l177.87-171.31c43.588-43.58,65.38-86.406,65.38-128.472 C511.626,128.279,499.54,95.546,475.366,71.949z M421.405,271.795L255.813,431.391L89.938,271.507 C54.344,235.922,36.55,202.133,36.55,170.156c0-15.415,2.046-29.026,6.136-40.824c4.093-11.8,9.327-21.177,15.703-28.124 c6.377-6.949,14.132-12.607,23.268-16.988c9.141-4.377,18.086-7.328,26.84-8.85c8.754-1.52,18.079-2.281,27.978-2.281 c9.896,0,20.557,2.424,31.977,7.279c11.418,4.853,21.934,10.944,31.545,18.271c9.613,7.332,17.845,14.183,24.7,20.557 c6.851,6.38,12.559,12.229,17.128,17.559c3.424,4.189,8.091,6.283,13.989,6.283c5.9,0,10.562-2.094,13.99-6.283 c4.568-5.33,10.28-11.182,17.131-17.559c6.852-6.374,15.085-13.222,24.694-20.557c9.613-7.327,20.129-13.418,31.553-18.271 c11.416-4.854,22.08-7.279,31.977-7.279s19.219,0.761,27.977,2.281c8.757,1.521,17.702,4.473,26.84,8.85 c9.137,4.38,16.892,10.042,23.267,16.988c6.376,6.947,11.612,16.324,15.705,28.124c4.086,11.798,6.132,25.409,6.132,40.824 C475.078,202.133,457.19,236.016,421.405,271.795z"/></symbol>
                  </svg>
                  <svg class="icon" viewBox="0 0 35 35"><use xlink:href="#heart-shape-outline" x="27%" y="30%"></use></svg>
                  <i class="fa fa-heart"></i>
                </button>
                <button type="button" data-toggle="tooltip" class="btn btn-default compare" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');">
                  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="report" viewBox="0 0 1300 1300"><title>report</title><path d="m240 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m520 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m480 258.667969h60v220h-60zm0 0"/><path d="m380 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m240 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m100 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m200 118.667969h60v360h-60zm0 0"/><path d="m340-1.332031h60v480h-60zm0 0"/><path d="m60 358.667969h60v120h-60zm0 0"/><path d="m60 548.667969c.035156-3.414063.65625-6.796875 1.839844-10h-51.839844c-5.523438 0-10 4.476562-10 10 0 5.519531 4.476562 10 10 10h51.839844c-1.183594-3.203125-1.804688-6.589844-1.839844-10zm0 0"/><path d="m118.160156 538.667969c2.457032 6.4375 2.457032 13.558593 0 20h83.679688c-2.457032-6.441407-2.457032-13.5625 0-20zm0 0"/><path d="m100 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m380 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m341.839844 558.667969c-2.457032-6.441407-2.457032-13.5625 0-20h-83.679688c2.457032 6.4375 2.457032 13.558593 0 20zm0 0"/><path d="m481.839844 558.667969c-2.457032-6.441407-2.457032-13.5625 0-20h-83.679688c2.457032 6.4375 2.457032 13.558593 0 20zm0 0"/><path d="m520 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m590 538.667969h-51.839844c2.457032 6.4375 2.457032 13.558593 0 20h51.839844c5.523438 0 10-4.480469 10-10 0-5.523438-4.476562-10-10-10zm0 0"/></symbol>
                  </svg>
                  <svg class="icon" viewBox="0 0 35 35"><use xlink:href="#report" x="25%" y="30%"></use></svg>
                  <i class="fa fa-exchange"></i>
                </button>
              </div> 
              <ul class="list-unstyled attr">
                {% if manufacturer %}
                <li><span>{{ text_manufacturer }}</span> <a href="{{ manufacturers }}">{{ manufacturer }}</a></li>
                {% endif %}
                <li><span>{{ text_model }}</span> {{ model }}</li>
                {% if reward %}
                <li><span>{{ text_reward }}</span> {{ reward }}</li>
                {% endif %}
                <li><span>{{ text_stock }}</span> {{ stock_status }}</li>
              </ul>  
            </div>
          </div>
        </div>
        <div class="related-product row">
          {% if products %}
            <h3 class="home-title">{{ text_related }}</h3>
              <div class="related-carousel owl-carousel">
                {% for product in products %}
                <div class="item" {% if product.date_end %}data-countdowntime="{{ product.date_end }}"{% endif %}>
                  <div class="product-container">
                    <div class="product-thumb transition">
                      <div class="image">
                            <a href="{{ product.href }}">
                              <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive {% if product.extra != '' %} no-change {% endif %}" />
                              {% if product.extra != '' %}
                                <img class="product-img-extra img-responsive" alt="{{ product.name }}" title="{{ product.name }}" src= "{{ product.extra }}"/>
                              {% endif %}
                            </a>  
                            {% if product.stock_status %}<span class="outstock-overlay">{{ product.stock_status }}</span>{% endif %}
                            {% if product.rating %}
                            <div class="rating">
                              {% for i in 1..5 %}
                                {% if product.rating < i %} 
                                  <span class="fa fa-stack">
                                    <i class="fa fa-star gray fa-stack-2x"></i>
                                  </span> 
                                {% else %} 
                                  <span class="fa fa-stack">
                                    <i class="fa fa-star yellow fa-stack-2x"></i>
                                  </span> 
                                {% endif %}
                              {% endfor %}
                            </div>
                            {% else %}
                            <div class="rating">
                              {% for i in 1..5 %}
                              <span class="fa fa-stack">
                                <i class="fa fa-star gray fa-stack-2x"></i>
                                </span>
                              {% endfor %}
                            </div>
                          {% endif %}
                            {% if product.date_end and product_page_counter == 1 %}
                              <div class='countdown-container'>
                                <div class='countdown-days counter'>
                                  <span class="data"></span>
                                  <span class="lbl">{{ days_name }}</span>
                                </div>
                                <div class='countdown-hours counter'>
                                  <span class="data"></span>
                                  <span class="lbl">{{ hours_name }}</span>
                                </div>
                                <div class='countdown-minutes counter'>
                                  <span class="data"></span>
                                  <span class="lbl">{{ min_name }}</span>
                                </div>
                                <div class='countdown-seconds counter'>
                                  <span class="data"></span>
                                  <span class="lbl">{{ sec_name }}</span>
                                </div>
                              </div>
                            {% endif %}
                          <div class="button-group">  
                              <div class="btn-quickview"> 
                                <div class="quickview-button button" data-toggle="tooltip" title=" {{ quick_view }}"> 
                                  <a class="quickbox" href="{{ product.quick }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                      <symbol id="eye-open1" viewBox="0 0 650 650"><title>eye-open</title>
                                       <g>
                                          <path d="M221.02,341.304c-49.708,0-103.206-19.44-154.71-56.22C27.808,257.59,4.044,230.351,3.051,229.203
                                            c-4.068-4.697-4.068-11.669,0-16.367c0.993-1.146,24.756-28.387,63.259-55.881c51.505-36.777,105.003-56.219,154.71-56.219
                                            c49.708,0,103.207,19.441,154.71,56.219c38.502,27.494,62.266,54.734,63.259,55.881c4.068,4.697,4.068,11.669,0,16.367
                                            c-0.993,1.146-24.756,28.387-63.259,55.881C324.227,321.863,270.729,341.304,221.02,341.304z M29.638,221.021
                                            c9.61,9.799,27.747,27.03,51.694,44.071c32.83,23.361,83.714,51.212,139.688,51.212s106.859-27.851,139.688-51.212
                                            c23.944-17.038,42.082-34.271,51.694-44.071c-9.609-9.799-27.747-27.03-51.694-44.071
                                            c-32.829-23.362-83.714-51.212-139.688-51.212s-106.858,27.85-139.688,51.212C57.388,193.988,39.25,211.219,29.638,221.021z"/>
                                        </g>
                                        <g>
                                          <path d="M221.02,298.521c-42.734,0-77.5-34.767-77.5-77.5c0-42.733,34.766-77.5,77.5-77.5c18.794,0,36.924,6.814,51.048,19.188
                                            c5.193,4.549,5.715,12.446,1.166,17.639c-4.549,5.193-12.447,5.714-17.639,1.166c-9.564-8.379-21.844-12.993-34.576-12.993
                                            c-28.949,0-52.5,23.552-52.5,52.5s23.551,52.5,52.5,52.5c28.95,0,52.5-23.552,52.5-52.5c0-6.903,5.597-12.5,12.5-12.5
                                            s12.5,5.597,12.5,12.5C298.521,263.754,263.754,298.521,221.02,298.521z"/>
                                        </g>
                                        <g>
                                          <path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z"/>
                                        </g></symbol>
                                    </svg>
                                    <svg class="icon" viewBox="0 0 30 30"><use xlink:href="#eye-open1" x="16%" y="14%"></use></svg>
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <span class="lblcart">{{ quick_view }}</span>
                                  </a>
                                </div>
                              </div>
                              <div class="btn-wishlist">
                                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i>
                                 <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                    <symbol id="heart-shape-outline1" viewBox="0 0 850 850"><title>heart-shape-outline</title><path d="M475.366,71.949c-24.175-23.606-57.575-35.404-100.215-35.404c-11.8,0-23.843,2.046-36.117,6.136 c-12.279,4.093-23.702,9.615-34.256,16.562c-10.568,6.945-19.65,13.467-27.269,19.556c-7.61,6.091-14.845,12.564-21.696,19.414 c-6.854-6.85-14.087-13.323-21.698-19.414c-7.616-6.089-16.702-12.607-27.268-19.556c-10.564-6.95-21.985-12.468-34.261-16.562 c-12.275-4.089-24.316-6.136-36.116-6.136c-42.637,0-76.039,11.801-100.211,35.404C12.087,95.55,0,128.286,0,170.16 c0,12.753,2.24,25.891,6.711,39.398c4.471,13.514,9.566,25.031,15.275,34.546c5.708,9.514,12.181,18.792,19.414,27.834 c7.233,9.041,12.519,15.272,15.846,18.698c3.33,3.426,5.948,5.903,7.851,7.427L243.25,469.938 c3.427,3.426,7.614,5.144,12.562,5.144s9.138-1.718,12.563-5.144l177.87-171.31c43.588-43.58,65.38-86.406,65.38-128.472 C511.626,128.279,499.54,95.546,475.366,71.949z M421.405,271.795L255.813,431.391L89.938,271.507 C54.344,235.922,36.55,202.133,36.55,170.156c0-15.415,2.046-29.026,6.136-40.824c4.093-11.8,9.327-21.177,15.703-28.124 c6.377-6.949,14.132-12.607,23.268-16.988c9.141-4.377,18.086-7.328,26.84-8.85c8.754-1.52,18.079-2.281,27.978-2.281 c9.896,0,20.557,2.424,31.977,7.279c11.418,4.853,21.934,10.944,31.545,18.271c9.613,7.332,17.845,14.183,24.7,20.557 c6.851,6.38,12.559,12.229,17.128,17.559c3.424,4.189,8.091,6.283,13.989,6.283c5.9,0,10.562-2.094,13.99-6.283 c4.568-5.33,10.28-11.182,17.131-17.559c6.852-6.374,15.085-13.222,24.694-20.557c9.613-7.327,20.129-13.418,31.553-18.271 c11.416-4.854,22.08-7.279,31.977-7.279s19.219,0.761,27.977,2.281c8.757,1.521,17.702,4.473,26.84,8.85 c9.137,4.38,16.892,10.042,23.267,16.988c6.376,6.947,11.612,16.324,15.705,28.124c4.086,11.798,6.132,25.409,6.132,40.824 C475.078,202.133,457.19,236.016,421.405,271.795z"/>
                                    </symbol>
                                  </svg>
                                  <svg class="icon" viewBox="0 0 30 30"><use xlink:href="#heart-shape-outline1" x="19%" y="21%"></use></svg>
                                </button>
                              </div>
                              <div class="btn-compare">  
                                <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i>                            
                                  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                    <symbol id="report1" viewBox="0 0 1050 1050"><title>report</title><path d="m240 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m520 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m480 258.667969h60v220h-60zm0 0"/><path d="m380 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m240 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m100 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m200 118.667969h60v360h-60zm0 0"/><path d="m340-1.332031h60v480h-60zm0 0"/><path d="m60 358.667969h60v120h-60zm0 0"/><path d="m60 548.667969c.035156-3.414063.65625-6.796875 1.839844-10h-51.839844c-5.523438 0-10 4.476562-10 10 0 5.519531 4.476562 10 10 10h51.839844c-1.183594-3.203125-1.804688-6.589844-1.839844-10zm0 0"/><path d="m118.160156 538.667969c2.457032 6.4375 2.457032 13.558593 0 20h83.679688c-2.457032-6.441407-2.457032-13.5625 0-20zm0 0"/><path d="m100 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m380 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m341.839844 558.667969c-2.457032-6.441407-2.457032-13.5625 0-20h-83.679688c2.457032 6.4375 2.457032 13.558593 0 20zm0 0"/><path d="m481.839844 558.667969c-2.457032-6.441407-2.457032-13.5625 0-20h-83.679688c2.457032 6.4375 2.457032 13.558593 0 20zm0 0"/><path d="m520 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"/><path d="m590 538.667969h-51.839844c2.457032 6.4375 2.457032 13.558593 0 20h51.839844c5.523438 0 10-4.480469 10-10 0-5.523438-4.476562-10-10-10zm0 0"/></symbol>
                                  </svg>
                                  <svg class="icon" viewBox="0 0 30 30"><use xlink:href="#report1" x="19%" y="25%"></use></svg>
                                </button>
                              </div>
                          </div>
                      </div>
                      <div class="caption">
                          <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                          <p class="description">{{ product.description }}</p>                    
                          {% if product.price %}
                          <p class="price"> {% if not product.special %}
                            {{ product.price }}
                            {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                            {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} 
                          </p>
                          {% endif %}
                          <div class="btn-cart">
                              <button data-toggle="tooltip" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');" {% if product.stock_status %} class="sold-out" disabled{% endif %}><span class="lblcart">{{ button_cart }}</span>
                              </button>
                          </div> 
                      </div>  
                    </div>               
                  </div>
                </div>
                {% endfor %} 
              </div>
          {% endif %}
        </div>
        {{ content_middle }}{{ content_bottom }}
      </div>
      {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
  $('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
    $.ajax({
      url: 'index.php?route=product/product/getRecurringDescription',
      type: 'post',
      data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
      dataType: 'json',
      beforeSend: function() {
        $('#recurring-description').html('');
      },
      success: function(json) {
        $('.alert-dismissible, .text-danger').remove();

        if (json['success']) {
          $('#recurring-description').html(json['success']);
        }
      }
    });
  });
//--></script> 
<script type="text/javascript"><!--
  $('#button-cart').on('click', function() {
    $.ajax({
      url: 'index.php?route=checkout/cart/add',
      type: 'post',
      data: $('input[type=\'text\'], input[type=\'hidden\'], input[type=\'radio\']:checked, input[type=\'checkbox\']:checked, select, textarea'),
      dataType: 'json',
      beforeSend: function() {
        $('#button-cart').button('loading');
      },
      complete: function() {
        $('#button-cart').button('reset');
      },
      success: function(json) {
        $('.alert-dismissible, .text-danger').remove();
        $('.form-group').removeClass('has-error');

        if (json['error']) {
          if (json['error']['option']) {
            for (i in json['error']['option']) {
              var element = $('#input-option' + i.replace('_', '-'));

              if (element.parent().hasClass('input-group')) {
                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
              } else {
                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
              }
            }
          }

          if (json['error']['recurring']) {
            $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
          }

          // Highlight any found errors
          $('.text-danger').parent().addClass('has-error');
        }

        if (json['success']) {

          $('#cart > button').html('<span class="cart-link"><span class="cart-img hidden-xs hidden-sm"><svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><symbol id="shopping-cart" viewBox="0 0 700 700"><title>shopping-cart</title><path d="m150.355469 322.332031c-30.046875 0-54.402344 24.355469-54.402344 54.402344 0 30.042969 24.355469 54.398437 54.402344 54.398437 30.042969 0 54.398437-24.355468 54.398437-54.398437-.03125-30.03125-24.367187-54.371094-54.398437-54.402344zm0 88.800781c-19 0-34.402344-15.402343-34.402344-34.398437 0-19 15.402344-34.402344 34.402344-34.402344 18.996093 0 34.398437 15.402344 34.398437 34.402344 0 18.996094-15.402344 34.398437-34.398437 34.398437zm0 0"></path><path d="m446.855469 94.035156h-353.101563l-7.199218-40.300781c-4.4375-24.808594-23.882813-44.214844-48.699219-48.601563l-26.101563-4.597656c-5.441406-.96875-10.632812 2.660156-11.601562 8.097656-.964844 5.441407 2.660156 10.632813 8.101562 11.601563l26.199219 4.597656c16.53125 2.929688 29.472656 15.871094 32.402344 32.402344l35.398437 199.699219c4.179688 23.894531 24.941406 41.324218 49.199219 41.300781h210c22.0625.066406 41.546875-14.375 47.902344-35.5l47-155.800781c.871093-3.039063.320312-6.3125-1.5-8.898438-1.902344-2.503906-4.859375-3.980468-8-4zm-56.601563 162.796875c-3.773437 12.6875-15.464844 21.367188-28.699218 21.300781h-210c-14.566407.039063-27.035157-10.441406-29.5-24.800781l-24.699219-139.398437h336.097656zm0 0"></path><path d="m360.355469 322.332031c-30.046875 0-54.402344 24.355469-54.402344 54.402344 0 30.042969 24.355469 54.398437 54.402344 54.398437 30.042969 0 54.398437-24.355468 54.398437-54.398437-.03125-30.03125-24.367187-54.371094-54.398437-54.402344zm0 88.800781c-19 0-34.402344-15.402343-34.402344-34.398437 0-19 15.402344-34.402344 34.402344-34.402344 18.996093 0 34.398437 15.402344 34.398437 34.402344 0 18.996094-15.402344 34.398437-34.398437 34.398437zm0 0"></path></symbol></svg><svg class="icon" viewBox="0 0 40 40"><use xlink:href="#shopping-cart" x="12%" y="16%"></use></svg></span><span class="cart-img hidden-lg hidden-md"><svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><symbol id="cart1" viewBox="0 0 510 510"><title>cart</title><path d="M306.4,313.2l-24-223.6c-0.4-3.6-3.6-6.4-7.2-6.4h-44.4V69.6c0-38.4-31.2-69.6-69.6-69.6c-38.4,0-69.6,31.2-69.6,69.6v13.6H46c-3.6,0-6.8,2.8-7.2,6.4l-24,223.6c-0.4,2,0.4,4,1.6,5.6c1.2,1.6,3.2,2.4,5.2,2.4h278c2,0,4-0.8,5.2-2.4C306,317.2,306.8,315.2,306.4,313.2z M223.6,123.6c3.6,0,6.4,2.8,6.4,6.4c0,3.6-2.8,6.4-6.4,6.4c-3.6,0-6.4-2.8-6.4-6.4C217.2,126.4,220,123.6,223.6,123.6z M106,69.6c0-30.4,24.8-55.2,55.2-55.2c30.4,0,55.2,24.8,55.2,55.2v13.6H106V69.6zM98.8,123.6c3.6,0,6.4,2.8,6.4,6.4c0,3.6-2.8,6.4-6.4,6.4c-3.6,0-6.4-2.8-6.4-6.4C92.4,126.4,95.2,123.6,98.8,123.6z M30,306.4L52.4,97.2h39.2v13.2c-8,2.8-13.6,10.4-13.6,19.2c0,11.2,9.2,20.4,20.4,20.4c11.2,0,20.4-9.2,20.4-20.4c0-8.8-5.6-16.4-13.6-19.2V97.2h110.4v13.2c-8,2.8-13.6,10.4-13.6,19.2c0,11.2,9.2,20.4,20.4,20.4c11.2,0,20.4-9.2,20.4-20.4c0-8.8-5.6-16.4-13.6-19.2V97.2H270l22.4,209.2H30z"></path></symbol></svg><svg class="icon" viewBox="0 0 40 40"><use xlink:href="#cart1" x="13%" y="15%"></use></svg></span><span class="cart-content"><span class="cart-products-count">' + json['text_items_small'] + '</span></span></span>');

          $.notify({message:json.success},{type:"success",offset:0,placement:{from:"top",align:"center"},animate:{enter:"animated fadeInDown",exit:"animated fadeOutUp"},template:'<div data-notify="container" class="col-xs-12 alert alert-{0}" role="alert"><button type="button" aria-hidden="true" class="close" data-notify="dismiss"></button><span data-notify="icon"></span> <span data-notify="title">{1}</span> <span data-notify="message">{2}</span><div class="progress" data-notify="progressbar"><div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div><a href="{3}" target="{4}" data-notify="url"></a></div>'});
          

          $('#cart > ul').load('index.php?route=common/cart/info ul li');
        }
      },
          error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
    });
  });
//--></script> 
<script type="text/javascript"><!--
  $('.date').datetimepicker({
    language: '{{ datepicker }}',
    pickTime: false
  });

  $('.datetime').datetimepicker({
    language: '{{ datepicker }}',
    pickDate: true,
    pickTime: true
  });

  $('.time').datetimepicker({
    language: '{{ datepicker }}',
    pickDate: false
  });

  $('button[id^=\'button-upload\']').on('click', function() {
    var node = this;

    $('#form-upload').remove();

    $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

    $('#form-upload input[name=\'file\']').trigger('click');

    if (typeof timer != 'undefined') {
        clearInterval(timer);
    }

    timer = setInterval(function() {
      if ($('#form-upload input[name=\'file\']').val() != '') {
        clearInterval(timer);

        $.ajax({
          url: 'index.php?route=tool/upload',
          type: 'post',
          dataType: 'json',
          data: new FormData($('#form-upload')[0]),
          cache: false,
          contentType: false,
          processData: false,
          beforeSend: function() {
            $(node).button('loading');
          },
          complete: function() {
            $(node).button('reset');
          },
          success: function(json) {
            $('.text-danger').remove();

            if (json['error']) {
              $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
            }

            if (json['success']) {
              alert(json['success']);

              $(node).parent().find('input').val(json['code']);
            }
          },
          error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
        });
      }
    }, 500);
  });
//--></script> 
<script type="text/javascript"><!--
  $('#review').delegate('.pagination a', 'click', function(e) {
      e.preventDefault();

      $('#review').fadeOut('slow');

      $('#review').load(this.href);

      $('#review').fadeIn('slow');
  });

  $('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

  $('#button-review').on('click', function() {
    $.ajax({
      url: 'index.php?route=product/product/write&product_id={{ product_id }}',
      type: 'post',
      dataType: 'json',
      data: $("#form-review").serialize(),
      beforeSend: function() {
        $('#button-review').button('loading');
      },
      complete: function() {
        $('#button-review').button('reset');
      },
      success: function(json) {
        $('.alert-dismissible').remove();

        if (json['error']) {
          $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
        }

        if (json['success']) {
          $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

          $('input[name=\'name\']').val('');
          $('textarea[name=\'text\']').val('');
          $('input[name=\'rating\']:checked').prop('checked', false);
        }
      }
    });
  });
  function customclick() {
  $('a[href=\'#tab-review .panel-default\']').trigger('click');
    $('html, body').animate({scrollTop: $(".tab_review").offset().top}, 2000);
    $('.tab_review .collapse').removeClass('in');
    $('#tab-review').addClass('in');
  }
  $(document).ready(function() {
    $('.thumbnails').magnificPopup({
      type:'image',
      delegate: '.image_popup',
      gallery: {
        enabled: true
      }
    });
    $('.thumbnails_horizontal').magnificPopup({
      type:'image',
      delegate: 'a',
      gallery: {
        enabled: true
      }
    });
    $('.related-carousel').owlCarousel({
      loop:false,
      nav:true,    
      dots: false,      
      rewind: true,
      rtl: $('html').attr('dir') == 'rtl'? true : false,  
      navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
      responsive:{
            0:{
                items:2
            },
            544:{
                items:2
            },
            768:{
                items:2
            },
            992:{
                items:3
            },
            1200:{
                items:4
            }
        }
    });   
    $('.additional-carousel .item').click(function(){
      var a = parseInt($('.additional-carousel .item').index(this))+1;
      var selector = ".number_"+a;
      $('html, body').animate({
        scrollTop: $(selector).offset().top
      }, 500);
    });

    var positions= [];  
    $(".item_image").each(function(counter) {
          positions[counter] = $(this).offset().top + $(".number_1").outerHeight();
    });    

    $(window).scroll(function (event) {
      var scroll = $(window).scrollTop();
      $('.additional-carousel .item').removeClass('active');    // Do something
      for (var i = 0; i < positions.length; i++) { //console.log();
        if(scroll < positions[i]) {
          $('.additional-carousel .item:nth-child(' + (i+1) +')').addClass('active');
          break;
        }
      }    
    });
  });
  {% if date_end %}
    var ishiproducttime = $('.ishicounter').data('countdowntime');
    var ishiproductcontainer = $('#product-product').find('.countdown-container');
     $(ishiproductcontainer).countdown(ishiproducttime, function (event) {
         $(this).find(".countdown-days .data").html(event.strftime('%D'));
        $(this).find(".countdown-hours .data").html(event.strftime('%H'));
        $(this).find(".countdown-minutes .data").html(event.strftime('%M'));
        $(this).find(".countdown-seconds .data").html(event.strftime('%S'));
    });
  {% endif %}
//--></script> 
<script>
    $('.image_show').magnificPopup({
      type:'image',
      delegate: 'a',
      gallery: {
        enabled: true
      }
    });
    $('#slider_carousel').owlCarousel({
      loop:false,
      nav:true, 
      margin: 15,
      dots: false, 
      rewind: true,
      rtl: $('html').attr('dir') == 'rtl'? true : false,  
      navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
      responsive:{
            0:{
                items:2
            },
            443:{
                items:3
            },
            768:{
                items:2
            },
            992:{
                items:3
            },
            1199:{
                items:4
            }
        }
    }); 
</script>
{{ footer }} 
