{{ header }}
<style>
  .step-title{

color: black;
}
</style>
<div class="breadcrumb-container">
<h1 class="page-title">{{ heading_title }}</h1>
<ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
</ul>
</div>
    <!-- Stepper Styles -->
    <link rel="stylesheet" href="catalog/view/theme/glamour/css/style.css">
  <!-- Demo CSS -->
  <link rel="stylesheet" href="catalog/view/theme/glamour/css/demo.css">


 <!-- Abith -->
<div class="container">
    <div class="coloumn">
        <div style="width: 60%" class="col-lg-12 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <form id="msform">
                    <ul id="progressbar">
                        <li class="active" id="checkout"><strong>CHECKOUT OPTIONS</strong></li>
                        <li id="account"><strong>ADDRESSES</strong></li>
                        {% if mlm_register_check == "1" %}
                        <li id="member"><strong>{{text_checkout_mlm_register}}</strong></li>
                        {% endif %}
                        <!-- <li id="delivery"><strong>Delivery Details</strong></li> -->
                        <li id="method"><strong>SHIPPING METHOD</strong></li>
                        <li id="payment"><strong>PAYMENT</strong></li>
                        <!-- <li id="confirm"><strong>Confirm Order</strong></li> -->
                    </ul>
                    <fieldset id="checkout_options">
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Checkout Options:</h2>
                                </div>
                            </div> 
                             <div class="card-body" id="collapse-checkout-option">
            
                             <div class="panel-body"></div>
        
                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="account_billing">
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Account & Billing Details:</h2>
                                </div>
                            </div>
                             <div class="card-body " id="collapse-payment-address">
                            <div class="panel-body"></div>
                            </div>
                        </div> 
                    </fieldset>
                    <fieldset id="delivery_details">
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Delivery Details:</h2>
                                </div>
                            </div>
                             <div class="card-body" id="collapse-shipping-address">
                                <div class="panel-body"></div>
                                </div>
                            </div> 
                    </fieldset>
                    <div   id="member_register">
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Member Register:</h2>
                                </div>
                            </div> 
                        </div> 
                        <div class="card-body" id="collapse-mlm-register">
                        <div class="panel-body"></div>
                         </div>
                    </div>
                     <fieldset id="delivery_method">
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Shipping Method:</h2>
                                </div>
                            </div> 
                           <div class="card-body" id="collapse-shipping-method">
                            <div class="panel-body"></div>
                            </div>
                        </div> 
                    </fieldset>
                    <fieldset id="payment_method">
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Payment Method</h2>
                                </div>
                            </div> 
                        </div> 
                         <div class="card-body" id="collapse-payment-method">
                            <div class="panel-body"></div>
                         </div>
                    </fieldset>
                    <fieldset id="confirm_order">
                        <div class="form-card">
                             <div class="card-body" id="collapse-checkout-confirm">
                                <div class="panel-body"></div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- tables -->
    </div>

    <h3>Your order</h3>
 <div class="row justify-content-right">
    <table style="width:40%" class="table table-bordered table-hover">
    <thead>
      <tr>
        <td class="text-left">{{ column_name }}</td>
        <td class="text-left">{{ column_model }}</td>
        <td class="text-right">{{ column_quantity }}</td>
        <td class="text-right">{{ column_price }}</td>
        <td class="text-right">{{ column_total }}</td>
      </tr>
    </thead>
    <tbody>
    
    {% for product in products %}
    <tr>
      <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% for option in product.option %} <br />
        &nbsp;<small> - {{ option.name }}: {{ option.value }}</small> {% endfor %}
        {% if product.recurring %} <br />
        <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}</td>
      <td class="text-left">{{ product.model }}</td>
      <td class="text-right">{{ product.quantity }}</td>
      <td class="text-right">{{ product.price }}</td>
      <td class="text-right">{{ product.total }}</td>
    </tr>
    {% endfor %}
    {% for voucher in vouchers %}
    <tr>
      <td class="text-left">{{ voucher.description }}</td>
      <td class="text-left"></td>
      <td class="text-right">1</td>
      <td class="text-right">{{ voucher.amount }}</td>
      <td class="text-right">{{ voucher.amount }}</td>
    </tr>
    {% endfor %}
      </tbody>
    
    <tfoot>
    
    {% for total in totals %}
    <tr>
      <td colspan="4" class="text-right"><strong>{{ total.title }}:</strong></td>
      <td class="text-right">{{ total.text }}</td>
    </tr>
    {% endfor %}
      </tfoot>
    
  </table>

</div>


</div>


    <!-- Start Stepper HTML -->
 <div class="container">
<div class="accordion" id="accordionExample">
</div>
</div>

 <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
      <h2 class="h2-new modal-title"><span style="color: #525f7f;">View Your IC/Passport</span></h2>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
     
    <div class="modal-body pt-0" style="overflow: auto !important;">
      <div class="col-12">
        <ol>
          <li>Please upload the front view and back view of IC/passport</li>
           <li>Ensure the resolution/details of photo is clear enough to verify by human eyes</li>
            <li>Maximum 2 photos is allowed to upload</li>
          </ol>
        </div>


        <div class="row" style=" display: flex;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;">

          <div class="col-12 mt-3 mb-1">
            <h3 style="color: #525f7f;">Example IC</h3>
          </div>

          <div class="col-md-6 col-sm-12"><label class="label2">IC Front View</label> <img style="width: 340px;" src="{{ic_front}}" alt="ic front" class="img-fluid"></div>

          <div class="col-md-6 col-sm-12"><label class="label2">IC Back View</label> <img style="width: 340px;" src="{{ic_back}}" alt="ic front" class="img-fluid"></div>

          <div class="col-12 mt-3 mb-1"><h3 style="color: #525f7f;">Example Passport</h3></div>

          <div class="col-md-6 col-sm-12"><label class="label2">Passport Front View</label> <img style="height: 463px;" src="{{passport_front}}" alt="ic front" class="img-fluid"></div>

          <div class="col-md-6 col-sm-12"><label class="label2">Passport Back View</label> <img style="width: 341px;" src="{{passport_back}}" alt="ic front" class="img-fluid"></div>


           <!-- <h3 style="color: #525f7f;">Front View of IC/Passport</h3> -->
        <div class="wrapper">
          <div class="box" style="  display: block;min-width: 300px;height: 300px;margin: 10px;background-color: white;border-radius: 5px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);overflow: hidden;">
            <label  class="label2">Front View of IC/Passport</label>
            
            <br>
            <div class="js--image-preview"></div>
            <div class="upload-options">
              <label>
         
            <form enctype="multipart/form-data" id="form-upload" style="display: none;">

                <input id="image1" name="file" type="file" class="image-upload" accept="image/*" />

                

            </form>

            <input type="hidden" name="custom_field[account][10]" value="ads" id="one">
     
              </label>
            </div>
          </div>
          </div>
          <div class="wrapper">
           
          <!-- <h3>Front View of IC/Passport</h3> -->
          <div class="box" style="  display: block;min-width: 300px;height: 300px;margin: 10px;background-color: white;border-radius: 5px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);overflow: hidden;">
            <label class="label2">Back View of IC/Passport</label>
            <br>
            <div class="js--image-preview"></div>
            <div class="upload-options">
              <label>

                <form enctype="multipart/form-data" id="form-upload" style="display: none;">
        
                <input id="image2" type="file" name="file" class="image-upload" accept="image/*" />

                <input type="hidden" name="custom_field[account][11]" value="ads" id="input-payment-custom-field11">

            </form>
               
              </label>
            </div>
          </div>
        </div>
        </div>
      </div>                 
  <div style="padding: 15px;text-align: right;"><button type="button" data-dismiss="modal" class="btn-secondary">Close</button>
  </div> 
    </div>
    </div>
  </div>
<script type="text/javascript"><!--
$(document).on('change', 'input[name=\'account\']', function() {

 
	if ($('#collapse-payment-address').parent().find('.panel-heading .panel-title > *').is('a')) {

           
		if (this.value == 'register') {
            
			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_account }} <i class="fa fa-caret-down"></i></a>');
		} else {


			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');

		}
	} else {
		if (this.value == 'register') {
			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_account }}');
		} else {


			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_address }}');

		}
	}


});

{% if not logged %}
$(document).ready(function() {


    $.ajax({
        url: 'index.php?route=checkout/login',
        dataType: 'html',
        success: function(html) {
           
           $('#collapse-checkout-option .panel-body').html(html);

			$('#collapse-checkout-option').parent().find('.panel-heading .panel-title').html('<a href="#collapse-checkout-option" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_option }} <i class="fa fa-caret-down"></i></a>');

			$('a[href=\'#collapse-checkout-option\']').trigger('click');
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
{% else %}
$(document).ready(function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_address',
        dataType: 'html',
        success: function(html) {
            $('#collapse-payment-address .panel-body').html(html);

			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');

			$('a[href=\'#collapse-payment-address\']').trigger('click');
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
{% endif %}

// Purchase member register



$(document).delegate('#purchase-button-account', 'click', function() {


   function insertAfter(newElement, referenceElement) {
    referenceElement.parentNode.insertBefore(newElement, referenceElement.nextSibling);
    }

    var eligibility="{{mlm_eligibility}}"; 

    var purchase_session="{{purchase_session}}";

    $.ajax({
        url: 'index.php?route=checkout/' + $('input[name=\'account\']:checked').val()+'&eligibility='+eligibility,

        dataType: 'html',
        beforeSend: function() {
          $('#purchase-button-account').button('loading');
    },
        complete: function() {
      $('#purchase-button-account').button('reset');
        },
        success: function(html) {

            $('#checkout_options').hide();
            $('#account_billing').show();
            $('#account').attr('class', 'active');
           
            $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error');

            $('#collapse-payment-address .panel-body').html(html);

      if ($('input[name=\'account\']:checked').val() == 'register') {
        $('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_account }} <i class="fa fa-caret-down"></i></a>');
      } else {
        $('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');
      }

      $('a[href=\'#collapse-payment-address\']').trigger('click');
        },

        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }



    });

});

// Purchase member register Ends

// Checkout
$(document).delegate('#button-account', 'click', function() {

    if($('#guest_register').is(':checked') == true)
    {
        var guest_checkout="1";
    }
    else
    {
        var guest_checkout="0";
    }

   function insertAfter(newElement, referenceElement) {
    referenceElement.parentNode.insertBefore(newElement, referenceElement.nextSibling);
    }

    var eligibility="{{mlm_eligibility}}"; 
    var purchase_session="{{purchase_session}}";

    $.ajax({
        url: 'index.php?route=checkout/' + $('input[name=\'account\']:checked').val()+'&eligibility='+eligibility+'&guest_checkout='+guest_checkout,

        dataType: 'html',
        beforeSend: function() {
          $('#button-account').button('loading');
    },
        complete: function() {
      $('#button-account').button('reset');
        },
        success: function(html) {

            $('#checkout_options').hide();
            $('#account_billing').show();
            $('#account').attr('class', 'active');

            $('#collapseOne').hide();
            $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error');
            $('#collapse-payment-address .panel-body').html(html);

      if ($('input[name=\'account\']:checked').val() == 'register') {
        $('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_account }} <i class="fa fa-caret-down"></i></a>');
      } else {
        $('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');
      }

      $('a[href=\'#collapse-payment-address\']').trigger('click');
        },

        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }

    });

});

// Checkout
$(document).delegate('#button-account', 'click', function() {

  if($('#member_register').is(":checked") == true)
  {
        $.ajax({
          url: 'index.php?route=checkout/checkout&member=1',
          success: function(response) {
          },
          error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
      });
  }

  return false;

   function insertAfter(newElement, referenceElement) {
    referenceElement.parentNode.insertBefore(newElement, referenceElement.nextSibling);
    }

    var eligibility="{{mlm_eligibility}}"; 

    var purchase_session="{{purchase_session}}";

    $.ajax({
        url: 'index.php?route=checkout/' + $('input[name=\'account\']:checked').val()+'&eligibility='+eligibility,

        dataType: 'html',
        beforeSend: function() {
        	$('#button-account').button('loading');
		},
        complete: function() {
			$('#button-account').button('reset');
        },
        success: function(html) {
           
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            $('#collapse-payment-address .panel-body').html(html);

			if ($('input[name=\'account\']:checked').val() == 'register') {
				$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_account }} <i class="fa fa-caret-down"></i></a>');
			} else {
				$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');
			}

			$('a[href=\'#collapse-payment-address\']').trigger('click');
        },

        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }

    });

});

// Login
$(document).delegate('#button-login', 'click', function() {

    $.ajax({
        url: 'index.php?route=checkout/login/save',
        type: 'post',
        data: $('#collapse-checkout-option :input'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-login').button('loading');
		},
        complete: function() {
            $('#button-login').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#collapse-checkout-option .panel-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				// Highlight any found errors
				$('input[name=\'email\']').parent().addClass('has-error');
				$('input[name=\'password\']').parent().addClass('has-error');
		   }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Register
$(document).delegate('#button-register', 'click', function() {

                var eligibility="{{mlm_eligibility}}";

                var purchase_session="{{purchase_session}}";

                var purchase_session_sponsor="{{purchase_session_sponsor}}"

                var mlm_company="{{MLM_COMPANY}}";

                var logged="{{logged}}";

    $.ajax({
        url: 'index.php?route=checkout/register/save',
        type: 'post',
        data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'password\'], #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address textarea, #collapse-payment-address select'),

        dataType: 'json',
        beforeSend: function() {

			$('#button-register').button('loading');
		},
        success: function(json) {

            $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {

                $('#button-register').button('reset');

                if (json['error']['warning']) {
                
                    $('#collapse-payment-address .panel-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
				for (i in json['error']) {

					var element = $('#input-payment-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
            } else {

                {% if shipping_required %}
                var shipping_address = $('#payment-address input[name=\'shipping_address\']:checked').prop('value');
                if (shipping_address) {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_method',
                        dataType: 'html',
                        success: function(html) {
							// Add the shipping address
                            $.ajax({
                                url: 'index.php?route=checkout/shipping_address',
                                dataType: 'html',
                                success: function(html) {
                                    $('#collapse-shipping-address .panel-body').html(html);

									$('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="fa fa-caret-down"></i></a>');
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                }
                            });

							$('#collapse-shipping-method .panel-body').html(html);

							$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="fa fa-caret-down"></i></a>');

   							$('a[href=\'#collapse-shipping-method\']').trigger('click');

							$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
							$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
							$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                } else {
                }
                {% else %}
                $.ajax({
                    url: 'index.php?route=checkout/payment_method',
                    dataType: 'html',
                    success: function(html) {
                        $('#collapse-payment-method .panel-body').html(html);

						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="fa fa-caret-down"></i></a>');

						$('a[href=\'#collapse-payment-method\']').trigger('click');

						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
                {% endif %}

                $.ajax({
                    url: 'index.php?route=checkout/payment_address',
                    dataType: 'html',
                    complete: function() {
                        $('#button-register').button('reset');
                    },
                    success: function(html) {
                        $('#collapse-payment-address .panel-body').html(html);

						$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Payment Address
$(document).delegate('#button-payment-address', 'click', function() {

    $.ajax({
        url: 'index.php?route=checkout/payment_address/save',
        type: 'post',
        data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'password\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-payment-address').button('loading');
		},
        complete: function() {

			$('#button-payment-address').button('reset');
        },
        success: function(json) {

            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
                    $('#collapse-payment-address .panel-body').prepend('<div class="alert alert-warning alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-payment-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().parent().addClass('has-error');
            } else {

                    $('#account_billing').remove();
                    $('#delivery_details').show();

                   $.ajax({
                    url: 'index.php?route=checkout/shipping_address',
                    dataType: 'html',
                    success: function(html) {

                        $('#collapse-shipping-address .panel-body').html(html);

                        $('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="fa fa-caret-down"></i></a>');

                        $('a[href=\'#collapse-shipping-address\']').trigger('click');

                        $('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
                        $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
                        $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                }).done(function() {

                    $.ajax({
            
                        url: 'index.php?route=checkout/shipping_address',
                        dataType: 'html',
                        success: function(html) {

                            $('#collapse-shipping-address .panel-body').html(html);
                        },
                        error: function(xhr, ajaxOptions, thrownError) {

                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });

                });

                 {% if shipping_required %}

                {% else %}

                $.ajax({
                    url: 'index.php?route=checkout/payment_method',
                    dataType: 'html',
                    success: function(html) {
                        $('#collapse-payment-method .panel-body').html(html);

						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="fa fa-caret-down"></i></a>');

						$('a[href=\'#collapse-payment-method\']').trigger('click');

						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                }).done(function() {
					$.ajax({
						url: 'index.php?route=checkout/payment_address',
						dataType: 'html',
						success: function(html) {
							$('#collapse-payment-address .panel-body').html(html);
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});				
				});
                {% endif %}
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Shipping Address
$(document).delegate('#button-shipping-address', 'click', function() {

    // console.log($(' #collapse-shipping-address select').val());

    var country_id=$("#country_value option:selected").val();

    // Working

        //   $.ajax({
        //       url: 'index.php?route=checkout/checkout&country_id='+country_id,
        //       success: function(data) {

        //         if(data == "129" || data == "188")
        //         {
        //             console.log("free shipping");

        //             $.ajax({
        //               url: 'index.php?route=checkout/checkout&flat_rate=free',
        //               dataType: 'html',
        //               success: function(data) {

        //                console.log(data);

        //             },
        //             error: function(xhr, ajaxOptions, thrownError) {
        //               alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        //             }
        //             });

        //         }
        //         else
        //         {
        //             console.log("paid shipping");
        //             $.ajax({
        //               url: 'index.php?route=checkout/checkout&flat_rate=paid',
        //               dataType: 'html',
        //               success: function(data) {

        //                 console.log(data);

        //             // alert(data);

        //             },
        //             error: function(xhr, ajaxOptions, thrownError) {
        //               alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        //             }
        //             });

 
        //         }

        //       },
        //       error: function(xhr, ajaxOptions, thrownError) {
        //           alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        //       }
        // });

    // Working ENds

    $('#delivery_method').hide();

    var mlm_register_check="{{mlm_register_check}}";

    var logged="{{logged}}";

    $.ajax({
        url: 'index.php?route=checkout/shipping_address/save',
        type: 'post',
        data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),


        dataType: 'json',
        beforeSend: function() {
			$('#button-shipping-address').button('loading');
	    },
        success: function(json) {

            $('#account_billing').remove();
            $('#delivery_details').hide();
      
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-shipping-address').button('reset');

                if (json['error']['warning']) {
                    $('#collapse-shipping-address .panel-body').prepend('<div class="alert alert-warning alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-shipping-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().parent().addClass('has-error');
            } else {

                if(mlm_register_check == "1")
                {
                    // alert("eeeee");

                    $('#member_register').show();

                    $.ajax({
                    url: 'index.php?route=checkout/mlm_register',
                    dataType: 'html',
                    success: function(html) {
                       
                        $('#collapse-mlm-register .panel-body').html(html);

                        $('#collapse-mlm-register').parent().find('.panel-heading .panel-title').html('<a href="#collapse-mlm-register" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_mlm_register }} <i class="fa fa-caret-down"></i></a>');


                        $('a[href=\'#collapse-mlm-register\']').trigger('click');

                        $('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
                        $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
                        $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');


                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                }).done(function() {

                    $.ajax({
                        url: 'index.php?route=checkout/mlm_register',
                        dataType: 'html',
                        success: function(html) {
                            $('#collapse-mlm-register .panel-body').html(html);
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });

                });

                    
                }
                else
                {

                $('#delivery_method').show();

                $.ajax({
                    url: 'index.php?route=checkout/shipping_method',
                    dataType: 'html',
                    complete: function() {
                        $('#button-shipping-address').button('reset');
                    },
                    success: function(html) {
                        $('#collapse-shipping-method .panel-body').html(html);

						$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="fa fa-caret-down"></i></a>');

						$('a[href=\'#collapse-shipping-method\']').trigger('click');

						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
						
                        $.ajax({
                            url: 'index.php?route=checkout/shipping_address',
                            dataType: 'html',
                            success: function(html) {
                                $('#collapse-shipping-address .panel-body').html(html);
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                }).done(function() {
					$.ajax({
						url: 'index.php?route=checkout/payment_address',
						dataType: 'html',
						success: function(html) {
							$('#collapse-payment-address .panel-body').html(html);
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
				});


                }
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Guest
$(document).delegate('#button-guest', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/guest/save',
        type: 'post',
        data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
        dataType: 'json',
        beforeSend: function() {
       		$('#button-guest').button('loading');
	    },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-guest').button('reset');

                if (json['error']['warning']) {
                    $('#collapse-payment-address .panel-body').prepend('<div class="alert alert-warning alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-payment-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
            } else {
                {% if shipping_required %}
                var shipping_address = $('#collapse-payment-address input[name=\'shipping_address\']:checked').prop('value');

                if (shipping_address) {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_method',
                        dataType: 'html',
                        complete: function() {
                            $('#button-guest').button('reset');
                        },
                        success: function(html) {
							// Add the shipping address
                            $.ajax({
                                url: 'index.php?route=checkout/guest_shipping',
                                dataType: 'html',
                                success: function(html) {
                                    $('#collapse-shipping-address .panel-body').html(html);

									$('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="fa fa-caret-down"></i></a>');
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                }
                            });

						    $('#collapse-shipping-method .panel-body').html(html);

							$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="fa fa-caret-down"></i></a>');

							$('a[href=\'#collapse-shipping-method\']').trigger('click');

							$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
							$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/guest_shipping',
                        dataType: 'html',
                        complete: function() {
                            $('#button-guest').button('reset');
                        },
                        success: function(html) {
                            $('#collapse-shipping-address .panel-body').html(html);

							$('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="fa fa-caret-down"></i></a>');

							$('a[href=\'#collapse-shipping-address\']').trigger('click');

							$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
							$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
							$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
                {% else %}
                $.ajax({
                    url: 'index.php?route=checkout/payment_method',
                    dataType: 'html',
                    complete: function() {
                        $('#button-guest').button('reset');
                    },
                    success: function(html) {
                        $('#collapse-payment-method .panel-body').html(html);

						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="fa fa-caret-down"></i></a>');

						$('a[href=\'#collapse-payment-method\']').trigger('click');

						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
                {% endif %}
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$(document).delegate('#mlm-register', 'click', function() {


    var purchase_session_sponsor="{{purchase_session_sponsor}}";

    var referal_sponsor="{{referral_session}}";

    var mlm_company="{{MLM_COMPANY}}";

    var mlm_register_check="{{mlm_register_check}}";


    $('#ic_required').remove();

 
   if($('#image1').val() == '' && $('#image2').val() == '')
    {

        $("<div id='ic_required' style='color: red;font-size: 15px;'>Front & Back IC Required</div>").insertAfter('#input-payment-custom-field9');

        return false;

    }
    else if($('#image1').val() == '')
    {

        $("<div id='ic_required' style='color: red;font-size: 15px;'>Front IC Required</div>").insertAfter('#input-payment-custom-field9');

        return false;
    }
    else if($('#image2').val() == '')
    {

        $("<div id='ic_required' style='color: red;font-size: 15px;'>Back IC Required</div>").insertAfter('#input-payment-custom-field9');

        return false;

    }

    var purchase_session="{{purchase_session}}";

    $.ajax({
        url: 'index.php?route=checkout/mlm_register/save',
        type: 'post',
         data: $('#collapse-mlm-register input[type=\'text\'], #collapse-mlm-register input[type=\'date\'], #collapse-mlm-register input[type=\'datetime-local\'], #collapse-mlm-register input[type=\'time\'], #collapse-mlm-register input[type=\'password\'], #collapse-mlm-register input[type=\'hidden\'], #collapse-mlm-register input[type=\'checkbox\']:checked, #collapse-mlm-register input[type=\'radio\']:checked, #collapse-mlm-register textarea, #collapse-payment-address select'),

        dataType: 'json',
        beforeSend: function() {

            $('#mlm-register').button('loading');
        },
         success: function(json) {

           
             

           $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error');

            if (json['redirect']) {

                location = json['redirect'];
            } else if (json['error']) {

                $('#mlm-register').button('reset');

                if (json['error']['warning']) {
                    $('#collapse-mlm-register .panel-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

                for (i in json['error']) {
                    var element = $('#input-payment-' + i.replace('_', '-'));

                    if ($(element).parent().hasClass('input-group')) {
                        $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
                    } else {
                        $(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
                    }
                }

                // Highlight any found errors
                $('.text-danger').parent().addClass('has-error');
            }
            else
            {
                    $('#member_register').hide();
                    

                     $.ajax({
                    url: 'index.php?route=checkout/shipping_method',
                    dataType: 'html',
                    complete: function() {
                        $('#button-shipping-address').button('reset');
                    },
                    success: function(html) {

                        $('#collapse-shipping-method .panel-body').html(html);

                        $('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="fa fa-caret-down"></i></a>');

                        $('a[href=\'#collapse-shipping-method\']').trigger('click');

                        $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
                        $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                        
                        $.ajax({
                            url: 'index.php?route=checkout/shipping_address',
                            dataType: 'html',
                            success: function(html) {
                                $('#collapse-shipping-address .panel-body').html(html);
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                }).done(function() {
                    $.ajax({
                        url: 'index.php?route=checkout/payment_address',
                        dataType: 'html',
                        success: function(html) {
                            $('#collapse-payment-address .panel-body').html(html);
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                });

                $('#delivery_method').show();
                  
            }
            
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Guest Shipping
$(document).delegate('#button-guest-shipping', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/guest_shipping/save',
        type: 'post',
        data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-guest-shipping').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-guest-shipping').button('reset');

                if (json['error']['warning']) {
                    $('#collapse-shipping-address .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-shipping-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
            } else {
                $.ajax({
                    url: 'index.php?route=checkout/shipping_method',
                    dataType: 'html',
                    complete: function() {
                        $('#button-guest-shipping').button('reset');
                    },
                    success: function(html) {
                        $('#collapse-shipping-method .panel-body').html(html);

						$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="fa fa-caret-down"></i>');

						$('a[href=\'#collapse-shipping-method\']').trigger('click');

						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$(document).delegate('#button-shipping-method', 'click', function() {
    
    $('#delivery_method').hide();
    $('#payment_method').show();

    $.ajax({
        url: 'index.php?route=checkout/shipping_method/save',
        type: 'post',
        data: $('#collapse-shipping-method input[type=\'radio\']:checked, #collapse-shipping-method textarea'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-shipping-method').button('loading');
		},
        success: function(json) {

            $('#collapseFive').remove();

            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-shipping-method').button('reset');

                if (json['error']['warning']) {
                    $('#collapse-shipping-method .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            } else {
                $.ajax({
                    url: 'index.php?route=checkout/payment_method',
                    dataType: 'html',
                    complete: function() {
                        $('#button-shipping-method').button('reset');
                    },
                    success: function(html) {
                        $('#collapse-payment-method .panel-body').html(html);

						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="fa fa-caret-down"></i></a>');

						$('a[href=\'#collapse-payment-method\']').trigger('click');

						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$(document).delegate('#button-payment-method', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_method/save',
        type: 'post',
        data: $('#collapse-payment-method input[type=\'radio\']:checked, #collapse-payment-method input[type=\'checkbox\']:checked, #collapse-payment-method textarea'),
        dataType: 'json',
        beforeSend: function() {
         	$('#button-payment-method').button('loading');
		},
        success: function(json) {

            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {

                $('#button-payment-method').button('reset');
                
                if (json['error']['warning']) {
                    $('#collapse-payment-method .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            } else {

                $('#payment_method').hide();
                $('#confirm_order').show();

                $.ajax({
                    url: 'index.php?route=checkout/confirm',
                    dataType: 'html',
                    complete: function() {
                        $('#button-payment-method').button('reset');
                    },
                    success: function(html) {
                        $('#collapse-checkout-confirm .panel-body').html(html);

						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('<a href="#collapse-checkout-confirm" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_confirm }} <i class="fa fa-caret-down"></i></a>');

						$('a[href=\'#collapse-checkout-confirm\']').trigger('click');
					},
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});


</script>

    <script>

    $(document ).ready(function() {

    var eligibility="{{mlm_eligibility}}";

    var purchase_session="{{purchase_session}}";

    $("#input-payment-custom-field12").prop("readonly", true);

    $('#input-payment-custom-field12').prop('readonly', true);

    
    $(document).on('change','#input-payment-custom-field12',function(){

        var value=this.value;

        var url='?route=account/register&sponsor_name='+this.value;

        if(value.length > 0)
        {

        $.ajax({
              url: url,
              type: 'GET',
              dataType: 'html', 
              success: function(res) {

                console.log(res);

                if (res == "true") {

                  $('#input-payment-custom-field12').val(value);

                   $('.validation').remove();

                }
                else
                {

                  $('#input-payment-custom-field12').val(res);

                  $("#input-payment-custom-field12").parent().after("<div id='sponsor_error' class='validation' style='color: red;position: absolute;left: 105px;top: 54px;'>Sponsor not found</div>");

                  $('.validation').delay(3000).fadeOut(400);

                }

              }
          })

        }

    });

    $(document).on('change','#input-payment-custom-field16',function(){

        var value=this.value;
        var url='?route=account/register&sponsor_name='+this.value;
        if(value.length > 0)
        {

        $.ajax({
              url: url,
              type: 'GET',
              dataType: 'html', 
              success: function(res) {

                console.log(res);

                if (res == "true") {

                  $('#input-payment-custom-field16').val(value);

                   $('.validation').remove();

                }
                else
                {

                  $('#input-payment-custom-field16').val(res);

                  $("#input-payment-custom-field16").parent().after("<div id='sponsor_error' class='validation' style='color: red;position: absolute;left: 105px;top: 54px;'>Sponsor not found</div>");

                  $('.validation').delay(3000).fadeOut(400);

                }

              }
          })

        }

    });

    });
    </script>


     <script>


    function initImageUpload(box) {


  let uploadField = box.querySelector('.image-upload');


    uploadField.addEventListener('change', getFile);


  

  function getFile(e){
  
    let file = e.currentTarget.files[0];
    checkType(file);

    var node=this;

    // console.log(new FormData($('#form-upload')[0]));

     $.ajax({
        url: 'index.php?route=tool/upload',
        type: 'post',
        dataType: 'json',
        data: new FormData($('#form-upload')[0]),
        cache: false,
        contentType: false,
        processData: false,
        // beforeSend: function() {
        //     // console.log("1");
        //   // $(node).button('loading');
        // },
        // complete: function() {
        //     // console.log("2");
        //   // $(node).button('reset');
        // },
        success: function(json) {

      
            // console.log("3");
          $('.text-danger').remove();

          if (json['error']) {

            $(node).parent().after('<div class="text-danger">Front IC Required</div>');
          }

          if (json['success']) {


            $('#one').val(json['code']);
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });


  }
  
  function previewImage(file){

    let thumb = box.querySelector('.js--image-preview'),
        reader = new FileReader();

    reader.onload = function() {
      thumb.style.backgroundImage = 'url(' + reader.result + ')';
    }
    reader.readAsDataURL(file);
    thumb.className += ' js--no-default';
  }

  function checkType(file){

    let imageType = /image.*/;
    if (!file.type.match(imageType)) {
      throw 'Datei ist kein Bild';
    } else if (!file){
      throw 'Kein Bild gewhlt';
    } else {
      previewImage(file);
    }
  }
  
}

// initialize box-scope
var boxes = document.querySelectorAll('.box');

for (let i = 0; i < boxes.length; i++) {
  let box = boxes[i];
  initDropEffect(box);
  initImageUpload(box);
}

/// drop-effect
function initDropEffect(box){

  let area, drop, areaWidth, areaHeight, maxDistance, dropWidth, dropHeight, x, y;
  
  // get clickable area for drop effect
  area = box.querySelector('.js--image-preview');
  area.addEventListener('click', fireRipple);

  function fireRipple(e){
 
    area = e.currentTarget
    // create drop
    if(!drop){
      drop = document.createElement('span');
      drop.className = 'drop';
      this.appendChild(drop);
    }
    // reset animate class
    drop.className = 'drop';
    
    // calculate dimensions of area (longest side)
    areaWidth = getComputedStyle(this, null).getPropertyValue("width");
    areaHeight = getComputedStyle(this, null).getPropertyValue("height");
    maxDistance = Math.max(parseInt(areaWidth, 10), parseInt(areaHeight, 10));

    // set drop dimensions to fill area
    drop.style.width = maxDistance + 'px';
    drop.style.height = maxDistance + 'px';
    
    // calculate dimensions of drop
    dropWidth = getComputedStyle(this, null).getPropertyValue("width");
    dropHeight = getComputedStyle(this, null).getPropertyValue("height");
    
    // calculate relative coordinates of click
    // logic: click coordinates relative to page - parent's position relative to page - half of self height/width to make it controllable from the center
    x = e.pageX - this.offsetLeft - (parseInt(dropWidth, 10)/2);
    y = e.pageY - this.offsetTop - (parseInt(dropHeight, 10)/2) - 30;
    
    // position drop and animate
    drop.style.top = y + 'px';
    drop.style.left = x + 'px';
    drop.className += ' animate';
    e.stopPropagation();
    
  }
}

  </script>

  <script>
    $(document).ready(function() {
 
    $('#member_register').hide();

    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

{{ footer }}